# =========================
# APP (Node)
# =========================
PORT=3000
NODE_ENV=production
JWT_SECRET_KEY=reemplazar_por_un_secreto_seguro

# =========================
# MYSQL (contenedor db)
# =========================
MYSQL_DATABASE=propon_y_come
MYSQL_PASSWORD=tu_password
MYSQL_ROOT_PASSWORD=tu_root_password_seguro

# Puerto publicado en host (EC2)
MYSQL_PORT=3306

# =========================
# APP -> DB (solo referencia)
# Nota: en Docker se inyecta DB_HOST=db y DB_PORT=3306
# =========================
DB_HOST=db
DB_USER=root
DB_PASSWORD=tu_root_password_seguro
DB_NAME=propon_y_come
DB_PORT=3306

# Puerto publicado para Express
EXPRESS_PORT=3000

# =========================
# phpMyAdmin (solo uso local con profile dev)
# =========================
PHPMYADMIN_PORT=8080
PMA_HOST=db
PMA_USER=root
PMA_PASSWORD=tu_root_password_seguro
PHP_UPLOAD_MAX_FILESIZE=128M
PHP_MEMORY_LIMIT=512M
PHP_MAX_EXECUTION_TIME=300
PHP_POST_MAX_SIZE=128M
